.icon {
  left: 0;
}

.iconOpen {
  transform: "none";
}

.formControlLabel {
  left: 24;
}

.fontSize {
  font-size: x-large;
}

.selectSelect {
  padding-left: 24px !important;
  width: 70px !important;
  z-index: 0;
  text-overflow: unset !important;
  background: #F6F6F6 !important;
  border: none !important;
  color: #626262 !important;
}

.inputContainer:hover,
.inputContainer:hover::before {
  border-bottom: none !important;
  z-index: 999;
}

.selectContainer {
  /* z-index: 0;
    left: 0; */
  width: inherit;
}

.selectContainer::before,
.selectContainer::after,
.selectContainer:hover,
.selectContainer:hover::before,
.inputContainer::before,
.inputContainer::after,
.inputContainer:hover,
.inputContainer:hover::before {
  border: none !important;
}

.formWrapper {
  border: none !important;
}

#__next {
  height: 100%;
}

#map {
  height: 100%;
  position: fixed !important;
  overflow: auto;
}

.countryLabel {
  position: absolute;
  left: 85px;
}

.MenuItem {
  width: 380px !important;
}