.inserted .watchAppTop{
     visibility: hidden; 
}
.inserted .watchAppBottom {
    visibility: visible;
    top: auto !important;
    background:"red";
}
.watchAppTop {
    visibility: visible;
    display: block;
}
.watchAppBottom {
    visibility: hidden;
    
    top: 100% !important;
}