.inserted .watchAppTop{
     visibility: hidden; 
    height: 45px;
        width: 136px;
        background: #25d366;
        text-align: center;
        border-radius: 8px;
}
.inserted .watchAppBottom {
    visibility: visible;
    top: auto !important;

    

}
.watchApp {
height: 45px;
    width: 135px;
    background: #25d366;
    text-align: center;
    border-radius: 8px;
}

.watchAppTop {
    visibility: visible;
    display: block;
   
}
.watchAppBottom {
    visibility: hidden;
    
    
    top: 100% !important;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}